@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kdam+Thmor+Pro&family=Playwrite+NO:wght@100..400&family=Rock+3D&display=swap');

body {
    color: #bfea88;
}

.me {
    height: auto;
    font-size: clamp(1rem, 7.7vw, 6rem);
    font-family: "Kdam Thmor Pro", sans-serif;
    overflow: hidden;
    text-align: center;
    padding-bottom: 3rem;

}

.me div {
    transform: scaleY(1.6);
    transform-origin: top;
}

h4 {
    font-size: clamp(.8rem, 4vw, 1.4rem);
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding: 0px 5px 0px 5px;
}

h3 {
    margin-top: 50px;
    font-size: clamp(1rem, 5vw, 1.8rem);
    font-family: "Kdam Thmor Pro", sans-serif;
    text-align: center;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

h3:hover {
    transition: .3s ease-in-out;
    transform: scaleX(1.4);
    transform: scaleY(.8);
    text-decoration: underline;
    font-weight: 100;
}

.span {
    width: 95vw;
    height: 2px;
    margin: auto;
    background-color: #bfea88;
}