@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+NO:wght@100..400&display=swap');

.main {
    width: 95vw;
    /* height: 100vh; */
    margin: auto;
    padding-top: 40px;
    color: #bfea88;
}

.intro_main {
    display: flex;
    justify-content: space-between;

}

.span {
    font-size: clamp(1.1rem, 1.7vw, 2rem);
    font-weight: 300;
}

.h2 {
    margin-top: -25px;
    letter-spacing: -2px;
    font-size: clamp(1.7rem, 3vw, 3.5rem);
    transform: scaleY(2.2);
    transform-origin: top;
}

.my_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: clamp(2rem, 5vw, 3.2rem);
    /* font-family: 'Blackstone'; 
    src: url('https://uploads-ssl.webflow.com/6201a8e3c7f99b635572faff/6490b65d6f10b24bc0356438_Blackstone.woff') format('woff');
    font-weight: 900;
    font-style: bold; */

}

.my_name span {
    font-size: clamp(1.3rem, 2.5vw, 3.2rem);
    font-weight: 100;
}

.intro_about {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    height: 110px;
    max-width: 40vw;
    width: 16vw;
    min-width: 155px;
    border-radius: 5px;
    /* font-family: 'Arges Normal';
    src: url('https://uploads-ssl.webflow.com/6201a8e3c7f99b635572faff/648f0bfec67475da7bef8fec_Arges-NormalBold.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6201a8e3c7f99b635572faff/648f0bf171fe99d596081c34_Arges-NormalBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; */
}

.img {
    background-image: url('../assets/previous_portfolio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* -------------------------SUB MENU--------------- */
.sub {
    position: sticky;
    bottom: 0px;
    width: clamp(90px, 10vw, 250px);
    background-color: violet;
    font-size: clamp(1.1rem, 1.7vw, 2rem);
    font-weight: 300;
}

.sub ul {
    list-style-type: none;
}