.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}

.menu {
  position: sticky;
  top: 300px;
  width: clamp(90px, 10vw, 14vw);
  background-color: cornflowerblue;
  height: calc(85vh - 220px);
  word-break: break-word;
  text-align: end;
  font-size: clamp(1rem, 1.5vw, 2rem);
  border-radius: 8px 0px 0px 8px;
  font-weight: 500;
  margin-top: 50px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.menu.small {
  width: 25px;
  height: 100px;
  border-radius: 10%;
  box-shadow: 0 0 20px #bfea88;
  animation: blink .4s infinite alternate;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 30px #bfea88;
  }

  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}

.scrollable_div {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #192928 transparent;
  padding: 2px;
}

.scrollable_div div {
  transition: .3s ease-in-out;
  border-radius: 3px;
  padding: 10px 7px 0px 5px;
  cursor: pointer;
}

.scrollable_div div:hover {
  transition: .3s ease-in-out;
  background-color: #192928;
}

.skill {
  margin-top: 50px;
  flex: 1;
  height: auto;
  margin-left: 10px;
  max-width: calc(100vw - clamp(90px, 10vw, 14vw) - 10px);
}